{% extends "base_generic.html" %}

{% block content %}
{% if validlink %}
<p>Entre (e confirme) sua nova senha.</p>
<form action="" method="post">
    {% csrf_token %}
    <table>
        <tr>
            <td>{{ form.new_password1.errors }}
                <label for="id_new_password1">Nova senha:</label></td>
            <td>{{ form.new_password1 }}</td>
        </tr>
        <tr>
            <td>{{ form.new_password2.errors }}
                <label for="id_new_password2">Confirma a senha:</label></td>
            <td>{{ form.new_password2 }}</td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Change my password" /></td>
        </tr>
    </table>
</form>
{% else %}
<h1>Falha ao resetar sua senha</h1>
<p>O link de reset de senha está inválido, provavelmente já foi usado. Solicite um novo link.</p>
{% endif %}
{% endblock %}