{% load static %}
<footer class="bg-light text-center text-lg-start">
    <!-- Copyright -->
    <div class="text-center p-3 bg-dark" style=" margin-top: 20px; color: white;">
        Projeção informatica © 2022 Copyright
    </div>
    <!-- Copyright -->
</footer>

<script src="{% static 'js/bootstrap.min.js' %}"></script>


<script src="{% static 'vendor/jquery/jquery-3.2.1.min.js' %}"></script>

<script src="{% static 'vendor/animsition/js/animsition.min.js' %}"></script>

<script src="{% static 'vendor/bootstrap/js/popper.js' %}"></script>
<script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>

<script src="{% static 'vendor/select2/select2.min.js' %}"></script>

<script src="{% static 'vendor/daterangepicker/moment.min.js' %}"></script>
<script src="{% static 'vendor/daterangepicker/daterangepicker.js' %}"></script>

<script src="{% static 'vendor/countdowntime/countdowntime.js' %}"></script>

<script src="{% static 'js/main.js' %}"></script>